* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(5, 5, 5);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    background-image: linear-gradient(180deg, rgba(53, 53, 53, 1) 0%, rgba(35, 35, 35, 1) 35%, rgba(5, 5, 5, 1) 100%);
    height: 320vh;
}

header {
    position: fixed;
    display: flex;
    padding: 2em;
    height: 2em;
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: roboto;
}

.logo {
    height: auto;
    width: 1.2em;
    margin-left: 1.5em;
}

.todo {
    display: flex;
    position: fixed;
    top: -5em;
    padding-top: 13em;
    height: 100%;
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Titulo */

.titulo h1 {
    text-align: center;
    font-size: 3.7em;
    font-weight: 900;
    letter-spacing: 1.7rem;
    margin: .1em 0 .2em .4em;
    line-height: 0em;
}

.titulo h2 {
    color: rgb(218, 218, 218);
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: .4em;
    margin: 2em 0 .2em .4em;
    line-height: 1em;
}


/* Contenedor Portatil */

.contenedor {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.portatil {
    margin-bottom: -7em;
    position: absolute;
    height: auto;
    width: 48em;
    z-index: 5;
}

.instagram {
    top: 3.5em;
    left: 42em;
    position: relative;
    z-index: 1;
    height: auto;
    width: 36.5em;
}

.yo {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    top: 4em;
    left: 8em;
    z-index: 6;
}

.yo__titulo {
    margin-top: 5em;
    border-radius: 2em 2em 0 0;
    color: white;
    text-align: center;
    font-size: .1em;
    font-weight: 300;
    background-color: black;
    padding: 2em 2em;
    z-index: 1;
}

.yo__imagen {
    height: auto;
    width: 9em;
    border-radius: .2em;
    border-top: 9px solid black;
    z-index: 2;
}

.yo__imagen--links {
    filter: opacity(0%);
    z-index: 1;
    margin-top: -3em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.yo__imagen--linkedin {
    width: 3em;
    height: auto;
}

.yo__imagen--github {
    width: 3em;
    height: 3em;
}

.revels {
    position: relative;
    z-index: 2;
    height: auto;
    width: 19em;
    border-radius: .2em;
    top: 3em;
    left: 12.5em;
    z-index: 5;
}

.rickymorty {
    position: relative;
    z-index: 3;
    height: auto;
    width: 15em;
    border-radius: .2em;
    right: 16em;
    top: 10em;
    z-index: 5;
}


/* About me */

.aboutme {
    position: relative;
    color: white;
    width: 20em;
    z-index: 0;
    right: 25em;
    top: 0em;
}

.aboutme h2 {
    color: rgb(218, 218, 218);
    font-size: 4em;
    font-weight: 900;
    margin: 0;
    width: 5em;
    line-height: 1em;
}

.aboutme p {
    color: rgb(218, 218, 218);
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
    line-height: 1em;
}


/* About me */


/* Proyectos */

.proyectos {
    position: relative;
    color: white;
    width: 20em;
    z-index: 0;
    right: 55em;
    top: 4em;
}

.proyectos h2 {
    color: rgb(218, 218, 218);
    font-size: 4em;
    font-weight: 900;
    margin: 0;
    width: 5em;
    line-height: 1em;
}

.proyectos p {
    color: rgb(218, 218, 218);
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
    line-height: 1em;
}


/* Formulario */

.contacto {
    /* display: none; */
    position: relative;
    height: 19.9em;
    width: 35.8em;
    z-index: 6;
    top: -18.8em;
    filter: opacity(0%) brightness(0%);
}

.contacto h3 {
    color: white;
    font-weight: 300;
    float: left;
    font-size: 20px;
    text-align: center;
    margin-bottom: .2em;
}

.contacto__contenedor {
    background-image: url(../imgs/fondo-contacto.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112%;
}

.contacto__formulario {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 20em;
    align-items: left;
    color: white;
    font-size: .5em;
    padding: 5em;
}

.contacto__formulario textarea {
    resize: none;
}

.contacto__formulario--boton {
    background-color: rgb(27, 27, 27);
    border: .1em solid rgb(54, 54, 54);
    border-radius: .4em;
    padding: .3em;
    margin: .5em;
}

.contacto__botones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
